p, h1, h2, h3, h4, h5, h6 {
    color: #404040;
}

/* HERO */

.hero-background {
    background-color: #6FDCBF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SOBRE MIM */

.sobre-background {
    background-color: #B2B2D8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-bg {
    background-color: #F6F4F6;
}

.border-custom {
    border-color: #404040 !important;
}

.custom-col-width{
    max-width: 30% !important;
}

/* EXPERIENCIAS E METAS */

.experiencia-background {
    background-color: #FEF8B4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom {
    min-width: 100%;
}

.timeline {
    border-left: 3px solid #B2B2D8;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #B2B2D8;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #B2B2D8;
    box-shadow: 0 0 0 3px #B2B2D8;
    left: -55.8px;
    background: #FEF8B4;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #B2B2D8;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* valores */

.valores-background {
    background-color: #F2C3C0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* end */

.end-background {
    background-color: #EF946C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
